Repository IlliniSolarCar/isc-hw-libs, changes with the labels that .github/labeler.yml gives for each.
All labels: footprint, symbol, 3d model, kicad libraries, git

.github/labeler.yml:

# Add footprint label to anything that changes footprint libraries
footprint:
  - '**/*.pretty'
  - '**/*.kicad_mod'

# Add symbol label to anything that changes symbol libraries
symbol: 
  - '**/*.dcm'
  - '**/*.lib'

# Add 3d model label to any changes to 3d models
3d model:
  - packages3d/*

# Add kicad libraries label to anything that changes kicads libraries
kicad libraries:
  - footprint_kicad/**/*
  - schematic_kicad/**/*

# Add git label to anything that changes a repo config
git:
  - .github/**/*
  - '**/.gitignore'
  - ./*.md

added other footprint (MSOP-8)
  layout.pretty/Diodes_MSOP-8.kicad_mod
Labels: footprint

descriptions
  layout.pretty/Diodes_MSOP-8.kicad_mod
Labels: footprint

swapped refDes and package name from top to bottom
  layout.pretty/Diodes_MSOP-8.kicad_mod
  layout.pretty/Diodes_SO-8.kicad_mod
Labels: footprint

matched pad dims to datasheet
  layout.pretty/Diodes_MSOP-8.kicad_mod
Labels: footprint

made dims better
  layout.pretty/Diodes_MSOP-8.kicad_mod
  layout.pretty/Diodes_SO-8.kicad_mod
Labels: footprint

shifte 0.1mm, changed bevel, updated footprint filter
  layout.pretty/Diodes_MSOP-8.kicad_mod
  schematic/ICs.lib
Labels: footprint, symbol

shifted 0.05mm up, changed height to 3mm aligned with the silkscreen
  layout.pretty/Diodes_MSOP-8.kicad_mod
Labels: footprint

ELEC-36 test commit for jira
  schematic/ICs.dcm
Labels: symbol

Created symbol for LED2001PHR
  schematic/ICs.dcm
  schematic/ICs.lib
Labels: symbol

fixed comments
  schematic/ICs.lib
Labels: symbol

im dumb
  layout.pretty/Diodes_MSOP-8.kicad_mod
Labels: footprint

Added other footprint (MSOP-8) (#79)
  layout.pretty/Diodes_MSOP-8.kicad_mod
  layout.pretty/Diodes_SO-8.kicad_mod
  schematic/ICs.dcm
  schematic/ICs.lib
Labels: footprint, symbol

Made passive and moved pin
  schematic/ICs.lib
Labels: symbol

moved NC pin
  schematic/ICs.lib
Labels: symbol

LED2001PHR Symbol (#80)
  schematic/ICs.dcm
  schematic/ICs.lib
Labels: symbol

started new lib branch for GPS_v1 based on updated hw libs
  schematic/ICs.dcm
  schematic/ICs.lib
  schematic_kicad/RF_GPS.dcm
  schematic_kicad/RF_GPS.lib
Labels: symbol, kicad libraries

created layout for 7V limit supercap
  layout.pretty/CP_Oval_L35mm_W17.5mm_MAL219690107E3.kicad_mod
Labels: footprint

added latching relay footprint for mcc switch
  footprint_kicad/Relay_SMD.pretty/Relay_SPDT_LATCH_TE_8-1393239-8.kicad_mod
  schematic_kicad/Relay.lib
Labels: footprint, symbol, kicad libraries

Footprint for Littelfuse 453/451 (#76)
  layout.pretty/Fuse_Littelfuse_453_3.15mmx1.96mm.kicad_mod
Labels: footprint

added layout and datasheet to AP2202 symbol
  schematic/ICs.dcm
  schematic/ICs.lib
Labels: symbol

Hand solder version MCU_9250
  footprint_kicad/Sensor_Motion.pretty/InvenSense_QFN-24_3x3mm_P0.4mm.kicad_mod
Labels: footprint, kicad libraries

initial footprint committed
  Relay_SPDT_LATCH_CIT_L115F2.pretty/Relay_SPDT_LATCH_CIT_L115F2.kicad_mod
Labels: footprint

layout change for larger supercap
  layout.pretty/CP_Oval_L35mm_W17.5mm_MAL219690107E3.kicad_mod
Labels: footprint
