Repository IlliniSolarCar/isc-hw-libs, pull requests merged in 2021-06, with the labels that each got.

#75 Support vehicle power bus v1.0
  layout.pretty/Anderson_Powerpole_45A_1x2_Horizontal_Bottom.kicad_mod
  layout.pretty/Fuseholder_Blade_ATO_Littelfuse_8_Pin.kicad_mod
Labels: footprint

#72 handsolder footprint for 6811
  layout.pretty/SSOP-48_5.3x12.8mm_P0.5mm_HandSolder.kicad_mod
Labels: footprint

#74 Wheel v 7.2 Parts
  layout.pretty/Buzzer_Mallory_ASI12N35MQ.kicad_mod
  schematic/Discrete_SMD.dcm
  schematic/Discrete_SMD.lib
Labels: footprint, kicad libraries, symbol

#73 recom dcdc
  .gitignore
  layout.pretty/CP_Radial_D14.5mm_P7.50mm.kicad_mod
  layout.pretty/Converter_DCDC_RECOM_RP180H-11012SRW_P-HC.kicad_mod
  layout.pretty/L_Eaton_CMS2.kicad_mod
  layout.pretty/RECOM_logo.kicad_mod
  layout.pretty/hamster_wheel.kicad_mod
  schematic/ICs.dcm
  schematic/ICs.lib
  schematic/Misc.dcm
  schematic/Misc.lib
Labels: footprint, git, symbol

#77 AP8801M8G-13 Symbol for Lights Drivers
  layout.pretty/Diodes_SO-8.kicad_mod
  schematic/ICs.dcm
  schematic/ICs.lib
Labels: footprint, kicad libraries, symbol

#78 Updated Labeler to v3 for Sync
  .github/labeler.yml
  .github/workflows/label.yml
Labels: git

#79 Added other footprint (MSOP-8)
  layout.pretty/Diodes_MSOP-8.kicad_mod
  layout.pretty/Diodes_SO-8.kicad_mod
  schematic/ICs.dcm
  schematic/ICs.lib
Labels: footprint, symbol

#80 LED2001PHR Symbol
  schematic/ICs.dcm
  schematic/ICs.lib
Labels: symbol
