Repository IlliniSolarCar/isc-hw-libs, pull requests merged in 2022-09, with the labels that each got.

#69 New IMU symbol (ICM-20948)
  schematic/ICs.dcm
  schematic/ICs.lib
Labels: symbol

#48 Cree XM LED footprint
  layout.pretty/LED_Cree-XM_Handsolder.kicad_mod
Labels: footprint

#49 Cree XP LED Footprint - solder pad widening
  layout.pretty/LED_Cree-XP_HandSolder.kicad_mod
Labels: footprint

#41 Battery Module Mounting Holes and Solder pads
  layout.pretty/MountingHole_.25in_Standoff.kicad_mod
  layout.pretty/MountingHole_2.25mm_M3_tap.kicad_mod
  layout.pretty/SolderWirePad_1x01_SMD_.125x.25in.kicad_mod
Labels: footprint

#70 Active Balancing Control
  layout.pretty/CP_Oval_L16.0mm_W8.0mm_P11.5mm.kicad_mod
  schematic/ICs.dcm
  schematic/ICs.lib
Labels: footprint, symbol
