Repository IlliniSolarCar/isc-hw-libs, pull requests merged in 2022-10, with the labels that each got.

#89 Molex3dUpdates
  footprint_kicad/Connector_Molex.pretty/Molex_Micro-Fit_3.0_43650-0300_1x03_P3.00mm_Horizontal.kicad_mod
  footprint_kicad/Connector_Molex.pretty/Molex_Micro-Fit_3.0_43650-0315_1x03_P3.00mm_Vertical.kicad_mod
  footprint_kicad/Connector_Molex.pretty/Molex_MicroClasp_55932-0310_1x03_P2.00mm_Vertical.kicad_mod
  footprint_kicad/Connector_Molex.pretty/Molex_MicroClasp_55935-0310_1x03_P2.00mm_Horizontal.kicad_mod
  footprint_kicad/Connector_Molex.pretty/Molex_MicroClasp_55935-0410_1x04_P2.00mm_Horizontal.kicad_mod
  packages3d/MolexConn/436500300.stp
  packages3d/MolexConn/436500315.stp
  packages3d/MolexConn/559320310.stp
  packages3d/MolexConn/559350310.stp
  packages3d/MolexConn/559350410.stp
Labels: footprint, kicad libraries

#86 Vicor DCDC
  footprint_kicad/VicorDCDC.pretty/CONV_DCM4623TD2N31C8M00.kicad_mod
  packages3d/DCM4623TD2N31C8M00.step
  schematic/Discrete_THT.kicad_sym
Labels: footprint, kicad libraries, 3d model

#90 fixed can transceiver lol
  layout.pretty/SOIC-8_5.85x7.4mm_P1.27mm.kicad_mod
Labels: footprint
