Repository IlliniSolarCar/isc-hw-libs, pull requests merged in 2023-10, with the labels that each got.

#116 add RecomHVDCDC
  schematic_kicad/Regulator_Switching.kicad_sym
Labels: symbol, kicad libraries

#119 lol
  layout.pretty/7448229004.kicad_mod
Labels: footprint

#120 fix components inappropriately marked as through-hole
  layout.pretty/Button_223AM.kicad_mod
  layout.pretty/DPDT_NIDEC_6_pin_SMD_1.6_x_1.2_pads.kicad_mod
  layout.pretty/Fuse_Littelfuse_453_3.15mmx1.96mm.kicad_mod
  layout.pretty/SOIC-8_5.85x7.4mm_P1.27mm.kicad_mod
Labels: footprint

#122 RECOM DCDC Footprint and 3D
  footprint_kicad/Converter_DCDC.pretty/Converter_DCDC_RP240H.kicad_mod
  packages3d/RP240H-11024SRW_P-HC.step
Labels: footprint, kicad libraries, 3d model

#123 updated PCA symbol
  layout.pretty/PCA9745B.kicad_mod
Labels: footprint
