Repository IlliniSolarCar/isc-hw-libs, pull requests merged in 2023-03, with the labels that each got.

#106 Added Coax 3d Model
  footprint_kicad/Connector_Coaxial.pretty/SMA_Molex_73251-2200_Horizontal.kicad_mod
  packages3d/PCB.SMAFRA.HT--3DModel-STEP-56544.STEP
Labels: footprint, kicad libraries, 3d model

#103 Adding 3D models for Charge Switch
  footprint_kicad/Package_TO_SOT_THT.pretty/SOT-227.kicad_mod
  footprint_kicad/TerminalBlock_Wuerth.pretty/Wuerth_REDCUBE-THR_WP-THRBU_74650195_THR.kicad_mod
  packages3d/74650194R--3DModel-STEP-56544.STEP
  packages3d/STPS200170TV1.STEP
Labels: footprint, kicad libraries, 3d model

#108 added
  layout.pretty/CP_Radial_D16.5mm_P5.08mm.kicad_mod
  packages3d/FT0H474ZF--3DModel-STEP-56544.STEP
Labels: footprint, 3d model

#107 schematic symbol of THN_20-2415WIR
  layout.pretty/THN 20-2415WIR.kicad_mod
  schematic/Discrete_THT.kicad_sym
Labels: footprint, symbol
